.cardWrapper {
  background-color: rgb(34, 39, 43);
  padding: 0.8rem 1.2rem 0.6rem;
  border-radius: 0.8rem;
  margin-top: 0.8rem;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  border: 1px solid black;
}
.cardWrapper:hover {
  outline: #85b8ff;
  border: 1px solid #85b8ff;
  border-radius: 0.8rem;
}
.cardWrapper .labels {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.4rem;
}
.cardWrapper .cardInfo {
  font-size: 1.4rem;
  color: #b6c2cf;
}
